body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:#F5F5F5;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all .1s ease-in-out;
    background-image: url('../images/4ceviches.jpg');
    animation: banner 28s infinite linear;
}
.cuadro{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000000;
}
h3{
    color: #000000;
    text-decoration: underline;
    padding-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
 }
.linea{
    border-bottom: 3px solid #000000;
    font-size: 40px;
    font-family:    "fuente1";
}
@keyframes banner {
    0%{
        background-image: url('../images/4ceviches.jpg');
    }
    25%{
        background-image: url('../images/PiqueoPA-1024x672.jpg');
    }
    50%{
        background-image: url('../images/chupe_pescado-1024x682.jpg');
    }
}
.transparent-input{
    color: white !important;
    background-color:rgba(0,0,0,0.7) !important;
    border:none !important;
}
.margen{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
@font-face{
        font-family: "fuente1";
        src: url("../fonts/Flatland.ttf");
}
.button{
    background-color: #000000;
}
@font-face{
        font-family: "fuente2";
        src: url("../fonts/arial-black_[allfont.es].ttf");
}
